<p>
<<<<<<< HEAD
  <strong>Nombre:</strong>
=======
  <strong>Comentario:</strong>
>>>>>>> a98b3d826395d2c01520de359b795fa9b733cd18
  <%= comment.commenter %>
</p>

<p>
<<<<<<< HEAD
  <strong>Detalles:</strong>
=======
  <strong>Comentario:</strong>
>>>>>>> a98b3d826395d2c01520de359b795fa9b733cd18
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Eliminar comentario', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Esta seguro que desea eliminar el comentario?' } %>
</p>