<<<<<<< HEAD
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :Nombre %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :Comentario %><br>
=======
%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
>>>>>>> a98b3d826395d2c01520de359b795fa9b733cd18
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>