<h1>Listado de artículos</h1>

<%= link_to 'Nuevo Articulo', new_article_path %>

<table>
  <tr>
    <th>Articulo</th>
    <th>Descripcion</th>
    <th colspan="3"></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Ver', article_path(article) %></td>
    <td><%= link_to 'Editar', edit_article_path(article) %><td><%= link_to 'Eliminar', article_path(article),
                    method: :delete, data: { confirm: 'Esta seguro que desea eliminar el articulo?' } %></td>
  </tr>
<% end %>
</table>