<p>
<<<<<<< HEAD
  <strong>Articulo:</strong>
=======
  <strong>Titulo:</strong>
>>>>>>> a98b3d826395d2c01520de359b795fa9b733cd18
  <%= @article.title %>
</p>

<p>
<<<<<<< HEAD
  <strong>Descripcion:</strong>
=======
  <strong>Texto:</strong>
>>>>>>> a98b3d826395d2c01520de359b795fa9b733cd18
  <%= @article.text %>
</p>

<h2>Comentarios</h2>
<%= render @article.comments %>

<<<<<<< HEAD
<h2>Añadir comentario:</h2>
<%= render "comments/form" %>

<%= link_to 'Volver al listado', articles_path %>
<%= link_to 'Editar articulo', edit_article_path(@article) %>
=======
<h2>Agregar un comentario:</h2>
<%= render "comments/form" %>

<%= link_to 'Editar Articulo', edit_article_path(@article) %> |
<%= link_to 'Volver a los articulos', articles_path %>
>>>>>>> a98b3d826395d2c01520de359b795fa9b733cd18
