<<<<<<< HEAD
<h1>Hola Rails..!!!!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
=======
<h1>Holaaa, Railsss..!!! XD</h1>
<%= link_to 'Mi Blog', controller: 'articles' %>
>>>>>>> a98b3d826395d2c01520de359b795fa9b733cd18
